/* default to border-box */
  * {
    text-align: center;
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    background-color: slategrey;
    color: red; 
  }

  
  h2 {
    font-family: verdana, arial, sans-serif; 
    color: rgba(0, 0, 154, 0.571);
    font-size: 40px;
  }
 
  img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 25%;
  }

  button{
    border-radius: 18px;
  }
  